POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=retail_dw
METABASE_POSTGRES_HOST=host.docker.internal
METABASE_POSTGRES_PORT=5432
METABASE_PORT=13001
METABASE_URL=http://localhost:13001
AIRFLOW_WEB_PORT=18081
RETAIL_GENERATOR_SEED=42
RETAIL_LATE_RECORDS=2
